label  { width: 5em; float: left; }

body, html {
	height: 100%;
	margin: 0;
	}

img{
    margin-left: 45%;
	margin-right: 45%;
	margin-top: 30px;
}

.bg {
    /* Full height */
    height: 100%; 

    width: screen.width;
    height: screen.height;
    padding: 5px; 
    background: -webkit-radial-gradient(center, lightgreen, darkgreen);
    background: -moz-radial-gradient(center, lightgreen, darkgreen);
    background: radial-gradient(center, lightgreen, darkgreen);
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#score {
	margin: 0 auto;
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 22px;
	-moz-text-shadow: 2px 2px 1px #248742;
	-webkit-text-shadow: 2px 4px 1px #248742;
	text-shadow: 2px 2px 1px #248742;
}

#gameover {
	margin: 0 auto;
	text-align: center;
	color: #0000FF;
	font-weight: bold;
	padding-top: 24px;
	font-size: 50px;
	-moz-text-shadow: 2px 2px 1px #248742;
	-webkit-text-shadow: 2px 4px 1px #248742;
	text-shadow: 2px 2px 1px #248742;
}

#yoshiGameContainer {
	position: relative;
	background-image: url("game_background2.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	width: 680px;
	height: 500px;
	margin: 0 auto;
	padding-top: 24px;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

#yoshiGameContainer canvas {
	margin: 0;
	padding: 0;
	width: 680px;
	height: 500px;
}